# Sample config.
# Windows will have COM# ports, Linux/Mac will have /dev/tty
# For GrafikEye button IDs, see https://github.com/mlsorensen/grafikeye/blob/main/pkg/serial/constants.go
# for URTSI commands, see URTSI instructions and examples at https://github.com/mlsorensen/urtsi2/blob/main/pkg/serial/session.go
urtsiPort: /dev/ttyUSB2
grafikEyePort: /dev/ttyUSB0
lumagenPort: /dev/ttyUSB1
lumagenActions:
  - aspects: [ 235, 240 ]
    framerates: [ 24, 23 ]
    urtsiCommand: "0101U"
    grafikEyePressButtonId: 77
  - aspects: [ 133 ]
    framerates: [ 60, 59 ]
    urtsiCommand: "0101D"
    grafikEyePressButtonId: 76
  - aspects: [ 143 ]
    framerates: [ 60, 59 ]
    urtsiCommand: "0101D;W9;0101U;W1;0101S"
    grafikEyePressButtonId: 76
  - aspects: [ 178 ]
    framerates: [ 60, 59 ]
    urtsiCommand: "0101S"
    grafikEyePressButtonId: 71
  - aspects: [ 185 ]
    framerates: [ 23, 24 ]
    urtsiCommand: "0101S;W9;0101U;W1;0101S"
    grafikEyePressButtonId: 71
  - aspects: [ 220 ]
    framerates: [ 23, 24 ]
    urtsiCommand: "0101U;W9;0101D;W2;0101S"
    grafikEyePressButtonId: 71
  - aspects: [ 200 ]
    framerates: [ 23, 24 ]
    urtsiCommand: "0101S;W9;0101U;W2;0101S"
    grafikEyePressButtonId: 71
grafikEyeActions:
  - buttonId: 38
    eventId: 4
    urtsiCommand: "0101D"
  - buttonId: 39
    eventId: 4
    urtsiCommand: "0101S"
  - buttonId: 40
    eventId: 4
    urtsiCommand: "0101U"