# Sample config.
# Windows will have COM# ports, Linux/Mac will have /dev/tty
# for URTSI commands, see URTSI instructions and examples at https://github.com/mlsorensen/urtsi2/blob/main/pkg/serial/session.go
urtsiPort: /dev/TTYUSB0
lumagenPort: /dev/TTYUSB2
lumagenActions:
  - aspects: [ 235, 240 ]
    framerates: [ 24, 23 ]
    urtsiCommand: "0101U"
  - aspects: [ 133, 143 ]
    framerates: [ 60, 59 ]
    urtsiCommand: "0101D"
